---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Aashiq Shaikh";
import BlogCard from '../components/BlogCard.astro';

const allProjects = await Astro.glob('../pages/posts/*.mdx');

const featuredPosts = ["vss", "aivrit", "coordinate"]
---

<BaseLayout pageTitle={pageTitle}>
	

	<div class="text-xl font-light leading-tight flex-row">
		<div class="text-center my-8">
			Hi 👋 I'm Aashiq
		</div>
		
		<div class="text-center my-8">
			I like computer graphics, spatial computing, and immersive storytelling
		</div>
		
		<div class="text-center my-8">
			<a class="text-teal-700 underline underline-offset-4" href="/assets/resume.pdf" target="_blank" rel="noopener noreferrer" >view my <span class="font-bold tracking-wide">resume</span> here
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 inline -translate-y-">
					<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
				</svg>
			</a>
		</div>
		
		<div class="text-center my-8">
			or check out some of my <span class="font-bold tracking-wide">projects</span> below.
		</div>
	</div>

	<div class="">
		<!-- RENDERS THE POSTS IN ORDER OF ARRAY -->
		{
			featuredPosts.map((post) => 
			allProjects.findIndex(e => e.frontmatter.code === post) > -1 ? 
			<BlogCard 
			title={allProjects[allProjects.findIndex(e => e.frontmatter.code === post)].frontmatter.title} 
			description={allProjects[allProjects.findIndex(e => e.frontmatter.code === post)].frontmatter.description} 
			imageURL={allProjects[allProjects.findIndex(e => e.frontmatter.code === post)].frontmatter.image.url} 
			imageAlt={allProjects[allProjects.findIndex(e => e.frontmatter.code === post)].frontmatter.image.alt} 
			subtitle={allProjects[allProjects.findIndex(e => e.frontmatter.code === post)].frontmatter.subtitle} 
			url={allProjects[allProjects.findIndex(e => e.frontmatter.code === post)].url} 
			tools={allProjects[allProjects.findIndex(e => e.frontmatter.code === post)].frontmatter.tools}/>
			: null
		)}
		
		<!-- DOES NOT RENDER POSTS IN ORDER -->
		<!-- {allProjects.map((project) => 
		featuredPosts.includes(project.frontmatter.code) ? 
		
		<BlogCard title={project.frontmatter.title} description={project.frontmatter.description} imageURL={project.frontmatter.image.url} imageAlt={project.frontmatter.image.alt} subtitle={project.frontmatter.subtitle} url={project.url} tools={project.frontmatter.tools}/> : null
		)} -->
	</div>
</BaseLayout>