---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Aashiq Shaikh";
import BlogCard from '../components/BlogCard.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');

const featuredPosts = ["vss", "aivrit"]
---

<BaseLayout pageTitle={pageTitle}>

	<div>
		XR & Graphics Developer
	</div>
	<div>
		<!-- I  -->
	</div>




	

	<div class="my-8">
		Featured Projects:
		{allPosts.map((post) => 
		featuredPosts.includes(post.frontmatter.code) ? 
		
		<BlogCard title={post.frontmatter.title} description={post.frontmatter.description} imageURL={post.frontmatter.image.url} imageAlt={post.frontmatter.image.alt} subtitle={post.frontmatter.subtitle} url={post.url} tools={post.frontmatter.tools}/> : null
		)}
	</div>
</BaseLayout>