---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Aashiq Shaikh";
import BlogCard from '../components/BlogCard.astro';

const allProjects = await Astro.glob('../pages/posts/*.md');

const featuredPosts = ["vss", "aivrit"]
---

<BaseLayout pageTitle={pageTitle}>

	<div>
		Hi 👋 I'm Aashiq, an XR and Graphics Developer. 
	</div>
	<div>
		<!-- I  -->
	</div>




	

	<div class="my-8">
		Featured Projects:
		{allProjects.map((project) => 
		featuredPosts.includes(project.frontmatter.code) ? 
		
		<BlogCard title={project.frontmatter.title} description={project.frontmatter.description} imageURL={project.frontmatter.image.url} imageAlt={project.frontmatter.image.alt} subtitle={project.frontmatter.subtitle} url={project.url} tools={project.frontmatter.tools}/> : null
		)}
	</div>
</BaseLayout>