---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Aashiq's Projects";
import BlogCard from '../components/BlogCard.astro';

const allPosts = await Astro.glob('../pages/posts/*.mdx');
---

<BaseLayout pageTitle={pageTitle}>

	<div class="mt-10">
		{allPosts.map((post) => 
		<BlogCard title={post.frontmatter.title} description={post.frontmatter.description} imageURL={post.frontmatter.image.url} imageAlt={post.frontmatter.image.alt} subtitle={post.frontmatter.subtitle} url={post.url} tools={post.frontmatter.tools} />
		)}
	</div>

	<div class="block mt-16 text-center text-gray-400">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline mr-2 translate-y-0.25">
			<path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
		</svg>
		page in progress

		
	</div>
	
	  
</BaseLayout>