---
const {title, subtitle, description, imageURL, imageAlt, url, tools} = Astro.props;

// import image from ''+imageURL;

// let impimg;
// import('../images/aivrit.png').then((image) => {
// 	impimg = image;
// })
// import aivrit from '../images/aivrit.png';

---

<div class="relative w-full mx-auto bg-opacity-30 bg-black rounded-xl shadow-gray-400/100 overflow-hidden transition duration-300 ease-out hover:shadow-md hover:shadow-black hover:-translate-y-0.5 hover:translate-x-0.5 mt-3  hover:saturate-150 hover:brightness-100 group" >
	<div class="md:flex ">
	  <div class="md:shrink-0"> 
		<a href={url}><img class="sm:h-48 w-full object-cover md:h-full md:w-48 aspect-[3/1] bg-center saturate-50 opacity-50 group-hover:opacity-100 group-hover:saturate-100 transition" src={imageURL} alt={imageAlt}></a>
		
	  </div>
	  <div class="py-3 px-6">
		<a href={url}><div class=" after:absolute after:inset-0 uppercase tracking-wide text-sm opacity-40 font-semibold px-8 -mx-8 pt-4 -mt-4 pb-4 -mb-4">{title}</div></a>
		<a href={url} class="block mt-1 text-md leading-tight font-medium line-clamp-1 hyphens-auto pb-4 -mb-4 px-8 -mx-8"><span class="line-clamp-2">{subtitle}</span></a>
	  </div>
	</div>
</div>