---
// import '../styles/global.css'
import Navigation from '../components/Navigation.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const { frontmatter } = Astro.props;
const pageTitle = "Aashiq's Projects";

---

<BaseLayout pageTitle={pageTitle}>
	<div class="">
		<img class="w-full object-cover aspect-[3/1] bg-center mb-2" src={frontmatter.image.url} alt={frontmatter.image.alt}>
		<div class="text-lg inline-block opacity-50">
			{frontmatter.title}
		</div>
		<div class="text-xl">
			{frontmatter.subtitle}
		</div>
		<hr>
		<br>
		<slot/>
	</div>
</BaseLayout>