---
// import '../styles/global.css'
import Navigation from '../components/Navigation.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const { frontmatter } = Astro.props;
const pageTitle = "Aashiq's Projects";

---

<BaseLayout pageTitle={pageTitle}>
	<div class="">
		<img class="w-full object-cover aspect-[3/1] bg-center mb-2" src={frontmatter.image.url} alt={frontmatter.image.alt}>
		<div class="text-lg inline-block opacity-50">
			{frontmatter.title}
		</div>
		<div class="text-xl">
			{frontmatter.subtitle}
		</div>
		<div>
			{frontmatter.links != null ? frontmatter.links.map((link) => <a class="mr-2 text-teal-700 underline underline-offset-4" href={link.url}>{link.name}</a>) : null}
		</div>
	</div >
		<!-- <hr> -->
		<br>
	<div class="whitespace-pre-line">
		<slot/>
	</div>
	
</BaseLayout>